---

interface Props {
  title: string
  url?: string
  math?: boolean
}
const { title, url, math } = Astro.props;
---
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>

<!-- Web analytics -->
{import.meta.env.PROD && (
  <script src="https://cdn.counter.dev/script.js" data-id="3c4649ad-19ea-4bce-8d9d-cee11202c82a" data-utcoffset="-4"></script>
)}

<!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
  id="MathJax-script" async type="text/javascript"></script>  -->

<!-- Katex -->
<!-- {math &&

<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
  id="MathJax-script" async type="text/javascript"></script> 
  <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />
} -->
<!-- 
{math &&
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
    integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
    crossorigin="anonymous"
    onload="renderMathInElement(document.body);"
  ></script>
} -->
